.choose-side{
    width: 100%;
    min-height: 100vh;
    background-color: #FAACA8;
    background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.choose-side p{
    font-size: 24px;
    margin:10px;
}
.icons-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons-container img{
    width: 100px;
    height: 100px;
    margin: 48px;
    cursor: pointer;
}
.selected{
    border: 4px solid #fff;
    border-radius: 3px;
    padding: 15px;
    box-sizing: content-box;
}
.not-selected{
    opacity: 0.2;
}

@media screen and (max-width: 350px) {
    .choose-side .icons-container img{
        margin: 20px;
    }
    .selected{
        padding: 10px;
    }
}