* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
button {
  min-width: 200px;
  height: 50px;
  padding: 10px 30px;
  border-radius: 25px;
  background-image: linear-gradient(to left, #007db8 100%, #005589 0%);
  margin: 10px;
  cursor: pointer;
  border: none;
  transition: all 10s;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
}
button:hover {
  background-image: linear-gradient(to left, #005589 100%, #17315b 0%);
}
button:focus {
  outline: none;
}
